.c-twitter:hover{
	color: rgb(42, 203, 255);
}
.c-facebook:hover{
	color: rgb(25, 70, 169);
}
.c-youtube:hover{
	color: rgb(255, 2, 0);
}
.c-phone:hover{
	color: rgb(2, 255, 0);
}
.c-linkedin:hover{
	color: rgb(1, 0, 127);
}